<style type="text/css">
body{
    background-image: url("4_static.gif");
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5;
    text-align: left;
    font-family: "courier", courier, sans-serif;
    color: #F8F8FF;
}
    p { 
    text-align: left;
    text-align: justify-all;
    padding-top: 50px;
    padding-left: 80px;
}